<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Breeding Rhythms</title>
		<meta name="viewport" content="width=device-width initial-scale=1.0, user-scalable=yes">
		<link rel="stylesheet" href="css/jquery-ui.css">
		<link rel="stylesheet" href="css/style.css">   
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	</head>
	<body>

		<div id="headerMenu">
			<div class ="header" id = "helpButton">Rules</div>
			<div class ="header" id = "instrument">Instrument</div>
			<div class ="header" id = "About">Blog</div>
			<div class ="header" id = "API">API</div>
			<div class ="header" id = "submitButton">Submit</div>
		</div>

		<div id="apiDiv">
			<div class="form" action="#" id="apiBox">
				<div id = "apiTitle">API routes</div>
				<br>
				<div id="allData">All data</div>
				<div id="allLink">Add "/api" to the URL</div>
				<br>
				<div id="countryData">Query by country</div>
				<div id="countryLink">Add "/api/country/search" to the URL</div>
				<br>
				<div id="nameData">Query by name</div>
				<div id="nameLink">Add "/api/name/search" to the URL</div>
				<br>
				<div id="rhythmData">Query by rhythm</div>
				<div id="rhythmLink">Add "/api/rhythm/search" to the URL</div>
				<br>
				<br>
				<div class ="button" id = "goBack2Button">Go back</div>
			</div>
		</div>

		<div id="instrumentDiv">
			<div class="form" action="#" id="instrumentBox">
				<div id = "instrumentTitle">Select an instrument</div>
				<br>
				<div id="instrument0">High Hat 1</div>
				<br>
				<div id="instrument1">High Hat 2</div>
				<br>
				<div id="instrument2">Clave</div>
				<br>
				<br>
				<div class ="button" id = "goBackButton">Go back</div>
			</div>
		</div>

		<div id="generationDiv">
			<div class="form" action="#" id="generationBox">
				<div id = "generationTitle">New generation!</div>
				<br>
				<div id="generationInfo">We've created a new generation of rhythms for you.</div>
				<br>
				<div id="generationInfo2"></div>
				<br>
				<br>
				<div class ="button" id = "checkOutButton">Check them out</div>
			</div>
		</div>

		<div id = "likeRhythms">
			<div id = "likeButton"> Like</div>
		</div>

		<div id = "playButton">
			<img src="media/playTransparent.gif">
		</div>
		<div id = "pauseButton">
			<img src="media/pauseTransparent.gif">
		</div>

		<div id = "dislikeRhythms">
			<div id = "dislikeButton">Dislike</div>
		</div>

		<div id = "container"></div>

		<div id="slider"></div>
		<div id="tempo">Change tempo</div>

		<div id="stringContainer">
			<div id = "generationTxt"></div>
			<div id = "generation"></div>
			<!-- <div id = "space">     </div> -->
			<div id = "totalTxt"></div>
			<div id = "total"></div>
		</div>

		<div id="mask"></div>

		<!--Initial Instructions-->
		<div id="helpDiv">
			<div class="form" action="#" id="helpBox">
				<div class ="helpText" id = "helpTitle">Breeding Rhythms</div>
				<br>
				<div class ="helpText" id = "helpText">New generations of 8 rhythms each are created based on the rhythms you like.</div>
				<br>
				<div class "helpText" id = "helpText2">Like or dislike a rhythm to see the next one.</div>
				<br>
				<div class "helpText" id = "helpText3">Submit your favourite rhythms.</div>
				<br>
				<br/>
				<div class ="button" id = "gotItButton">Got it!</div>
			</div>
		</div>

		<!--Submit Form -->
		<div id="submitDiv">
			<div class="form" action="#" id="submitForm">
				<div class ="submitText" id = "submitTitle">Submit a rhythm</div>
				<br>
				<input type="text" id="name" placeholder="Your Name"/><br/>
				<br/>
				<input type="text" id="country" placeholder="Your Country"/><br/>
				<br/>
				<div id = "stringSubmit"></div>
				<br>
				<input type="text" id="comments" placeholder="Comments"/>
				<br/>
				<br>
				<div class ="button" id = "submitFormButton">Submit</div>
				<div class ="button" id = "cancelFormButton">Cancel</div>
				<br/>
			</div>
		</div>

		<div id="thanksDiv">
			<div class="form" action="#" id="thanksBox">
				<div class ="thanksText" id = "thanksTitle">Thank you!</div>
				<br>
				<div class ="thanksText" id = "thanksText1"></div>
				<br>
				<div class "thanksText" id = "thanksText2"></div>
				<div class "thanksText" id = "thanksText3"></div>
				<br>
				<br/>
				<div class ="button" id = "thanksKeepGoingButton">Keep going</div>
				<div class ="button" id = "thanksRestartButton">Start again</div>
				<br/>
			</div>
		</div>

		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/d3/d3.js"></script>
		<script src="js/p5/p5.js"></script>
		<script src="js/p5/p5.dom.js"></script>
		<script src="js/p5/p5.dom.js"></script>		
		<script src="js/p5/p5.sound.js"></script>	
		<script src="js/main.js"></script>
	</body>
</html>
