html,body{
	margin: 0;
	padding: 0;
	background: black;
	text-align: center;
	/*overflow:hidden;*/
}

#headerMenu{
    position: fixed;
    display: block;
    background-color: #363b39;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 190;
    border-top: 0;
    padding: 5px 5px;
}

.header{
	display: inline-block;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	margin: 2px 50px;
	font-family:'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	color: white;
	padding: 8px 12px;
}

.header:hover {
	color: #9afe2e;
	cursor: pointer;
	opacity: 0.75;
	background-color: black;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#slider{
	margin-top: 30px;
	width: 40%;
	/*float: center;*/
	/*position: fixed;*/
	/*left:30%;*/
	/*z-index: 100;*/
	display: inline-block;	
}

#container{
	margin-top: 25px;
	width: 100%;
	height: 540px;
	/*background-color: green;*/
}

#likeRhythms, #dislikeRhythms, #playButton, #pauseButton{
	display: inline-block;
	font-family: Lato;
	position:fixed;
	top: 280px;
	color: white;
	z-index: 101;
}

#dislikeButton:hover{
	cursor: pointer;
	color: #9afe2e;
}

#likeButton:hover{
	cursor: pointer;
	color: #9afe2e;
}

#likeButton, #dislikeButton{
	display: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid white;
}

#likeRhythms{
	left: 20%;
}

#dislikeRhythms{
	right: 20%;
}

#playButton, #pauseButton{
	display: none;
	/*top:33%;*/
	position: absolute;
	top: 218px;
	left: 43.5%;
	/*float: center;*/
	text-align: center;
}

#playButton:hover{
	cursor: pointer;
	color: #7fff00;
}

#pauseButton:hover{
	cursor: pointer;
	color: #7fff00;
}

#tempo{
	font-family: lato;
	font-size: 10px;
	color: white;
	display: none;
	margin-bottom: 10px;
}

#stringContainer{
	display: block;
	position: fixed;
	z-index: 104;
	top: 50px;
	left: 20px;
}

#generation{
	font-family: lato;
	color: #9afe2e;
	font-size: 30px;
	display: block;
}

#generationTxt, #totalTxt{
	font-family: lato;
	display: block;
	color: white;
	padding-top: 10px;
}


#total{
	color: #9afe2e;
	font-family: lato;
	font-size: 30px;
	display: inline-block;	
}

#like, #dislike{
	display: block;	
	font-family: Lato;
	font-size: 50px;
}

#like{
	color: #0057e7;
}

#dislike{
	color: #ff1a3c;
}

/*--------------------------------Form-------------------------------------*/
#mask{
	background-color: black;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.85;
	z-index: 110;
	width: 100%;
	height: 100%;
}

#helpTitle, #instrumentTitle, #submitTitle, #generationTitle, #apiTitle, #thanksTitle {
	color: white;
	font-size: 30px;
	text-align: center;
	/*text-align: left;*/
}

#helpText, #helpText2, #helpText3, #generationInfo, #generationInfo2 {
	color: #9afe2e;
	font-size: 20px;
	/*text-align: left;*/
	text-align: center;
}

#thanksText1 {
	color: #9afe2e;
	font-size: 20px;
	/*text-align: left;*/
	text-align: center;
}

#thanksText2, #thanksText3 {
	color: white;
	font-size: 18px;
	/*text-align: left;*/
	text-align: center;
}

#stringSubmit {
	color: #9afe2e;
	font-size: 20px;
}

#instrument0, #instrument1, #instrument2 {
	color: #9afe2e;
	/*color: white;*/
	font-size: 20px;
	/*padding: 5px;*/
	/*text-align: left;*/
}

#instrument0:hover, #instrument1:hover, #instrument2:hover {
	background-color: #9afe2e;
	color: black;
	cursor: pointer;
	/*text-align: left;*/
}

#allLink, #countryLink, #nameLink {
	color: #9afe2e;
	/*color: white;*/
	font-size: 18px;
	/*padding: 5px;*/
	/*text-align: left;*/
}

#allData, #countryData, #nameData {
	color: white;
	/*color: white;*/
	font-size: 20px;
	/*padding: 5px;*/
	/*text-align: left;*/
}

#allLink:hover, #countryLink:hover, #nameLink:hover {
	background-color: #9afe2e;
	color: black;
	cursor: pointer;
	/*text-align: left;*/
}

.form{
	border-radius:10px;
	padding:20px 30px;
	font-family: Lato;
	width:350px;
	margin:20px 250px 0 35px;
}

.button{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 49%;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color:#101010;
	border-radius:2px;
	
}

.button:hover{
	color: #9afe2e;
	background-color:#111111;
	cursor: pointer;
}

input{
	text-align: center;
	font-size: 18px;
	font-family: Lato;
	width:99%;
	height:35px;
	margin-top:5px;
	border:1px solid #999;
	border-radius:3px;
}

#submitDiv, #helpDiv, #instrumentDiv, #generationDiv, #apiDiv, #thanksDiv{
	opacity:0.92;
	position: absolute;
	z-index: 120;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display:none;
}

#submitForm, #helpBox, #instrumentBox, #generationBox, #apiBox, #thanksBox{
	width:350px;
	background-color:black;
	position: relative;
	border: 5px solid #9afe2e;
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-158px;
}