html,body{
	/*margin: 0;
	padding: 0;*/
	background: black;
	text-align: center;
	overflow:hidden;
}

#headerMenu{
    position: fixed;
    display: block;
    background-color: #363b39;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 90;
    border-top: 0;
    padding: 5px 5px;
}

.header{
	display: inline-block;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	margin: 2px 50px;
	font-family:'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	color: white;
	padding: 8px 12px;
}

.header:hover {
	color: #9afe2e;
	cursor: pointer;
	opacity: 0.75;
	background-color: black;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*----- Dropdown -----*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.sub-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#slider{
	width: 40%;
	float: centoer;
	/*position: fixed;*/
	/*left:30%;*/
	/*z-index: 100;*/
	display: inline-block;	
}

#container{
	top:10%;
	margin-top: 25px;
}

#likeRhythms, #dislikeRhythms, #playButton, #pauseButton{
	display: inline-block;
	font-family: Lato;
	position: fixed;
	color: white;
	z-index: 101;
	top: 40%;
}

#dislikeButton:hover{
	cursor: pointer;
	color: #9afe2e;
}

#likeButton:hover{
	cursor: pointer;
	color: #9afe2e;
}

#likeButton, #dislikeButton{
	display: none;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid white;
}

#likeRhythms{
	left: 20%;
}

#dislikeRhythms{
	right: 20%;
}

#playButton, #pauseButton{
	display: none;
	top:33%;
	left: 44.5%;
	text-align: center;
}

#playButton:hover{
	cursor: pointer;
	color: #7fff00;
}

#pauseButton:hover{
	cursor: pointer;
	color: #7fff00;
}

#tempo{
	font-family: lato;
	font-size: 10px;
	color: white;
	display: none;
}

#generation{
	padding-top: 10px;
	font-family: lato;
	color: white;
	font-size: 30px;
	display: inline-block;
}

#generationTxt, #totalTxt{
	font-family: lato;
	display: inline-block;
	color: white;
}


#total{
	color: white;
	font-family: lato;
	font-size: 30px;
	display: inline-block;	
}

#like, #dislike{
	display: block;	
	font-family: Lato;
	font-size: 50px;
}

#like{
	color: #0057e7;
}

#dislike{
	color: #ff1a3c;
}

/*--------------------------------Form-------------------------------------*/
#mask{
	background-color: black;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.85;
	z-index: 110;
	width: 100%;
	height: 100%;
}

#helpTitle, #instrumentTitle, #submitTitle, #generationTitle {
	color: white;
	font-size: 30px;
	text-align: center;
}

#helpText, #helpText3, #generationInfo {
	color: #9afe2e;
	font-size: 20px;
	/*text-align: left;*/
}

#stringSubmit {
	color: #9afe2e;
	font-size: 20px;
}

#instrument0, #instrument1, #instrument2 {
	color: #9afe2e;
	/*color: white;*/
	font-size: 20px;
	/*padding: 5px;*/
	/*text-align: left;*/
}

#instrument0:hover, #instrument1:hover, #instrument2:hover {
	background-color: #9afe2e;
	color: black;
	cursor: pointer;
	/*text-align: left;*/
}

.form{
	border-radius:10px;
	padding:20px 30px;
	font-family: Lato;
	width:350px;
	margin:20px 250px 0 35px;
}

.button{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 49%;
	text-align: center;
	font-size: 18px;
	color: white;
	background-color:#101010;
	border-radius:2px;
	
}

.button:hover{
	color: #9afe2e;
	background-color:#111111;
	cursor: pointer;
}

input{
	text-align: center;
	font-size: 18px;
	font-family: Lato;
	width:99%;
	height:35px;
	margin-top:5px;
	border:1px solid #999;
	border-radius:3px;
}

#submitDiv, #helpDiv, #instrumentDiv, #generationDiv{
	opacity:0.92;
	position: absolute;
	z-index: 120;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display:none;
}

#submitForm, #helpBox, #instrumentBox, #generationBox{
	width:350px;
	background-color:black;
	position: relative;
	border: 5px solid #9afe2e;
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-158px;
}